@{
    ViewData["Title"] = "Add Animal";
}

@model AnimalShelterClient.Models.Animal


<h3> Add a new Animal to the Shelter: </h3>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <br>
  @Html.LabelFor(model => model.Species)
  @Html.TextBoxFor(model => model.Species)
  <br>
  @Html.LabelFor(model => model.Breed)
  @Html.TextBoxFor(model => model.Breed)
  <br>
  @Html.LabelFor(model => model.Age)
  @Html.TextBoxFor(model => model.Age)
  <br>
  <br>
  <input type="submit" value="Add new animal" class="btn btn-primary"/>
}

<hr />

<p>@Html.ActionLink("Back to All Animals", "Index")</p>
